@{
    ViewData["Title"] = "ConfirmationSuccess";
}

<section class="page-wrapper">
    <div class="row">
        <div class="col-12">
            <h1>Thank You</h1>
            <p>Thank you for submitting your response! We are thrilled that you will be joining us!</p>
        </div>
    </div>
</section>

